/******* Reset *******/
html {
  --color-white: #FFF;
  --color-black: #000000;
  --color-font: #1D1D1D;
  --color-font-darkgray: #6E6E6E;
  --color-font-middlegray: #b7b7b7;
  --color-font-lightgray: #F5F5F5;
  --color-link: #0071E3;
  --color-link-focus: #81B9F1;
  --color-border: #D2D2D2;
  --color-header: #3A3A3A;
  --color-section: #F5F5F5;
  --color-shadow: rgba(0, 0, 0, .4);
}

h1,
h2,
p,
strong,
body,
ul,
li,
div {
padding: 0;
margin: 0;
}

h1,
h2,
p,
strong {
font-size: inherit;
font-weight: inherit;
}

li {
list-style: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

header ul.menu > li.menu-starter {
  display: none;
}

/******* 하이퍼 링크 속성 제거 *******/
a {
text-decoration: none;
color: inherit;
}


/******* Typography *******/
@font-face {
font-family: 'SUIT';
font-weight: 100;
font-style: normal;
src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff2') format('woff2');
}  





/* @media (min-width: 400px) {
  .banner-text { 
      width: 33vw;
      height: 1%;

 }
} */



/* @media (min-width: 361px) {
  .banner  {
      background-image: url('../img/Banner-img.svg');
      
      background-repeat: no-repeat;

      max-width: 100%;
      height: 948px;
  }

  .banner-01-icon {
      display: none;
  }
} */



/******* Mobile Common-header *******/
/* banner에 position: relative;를 주면, Toggle-Menu를 클릭했을 때, banner-text가 겹쳐보임 */
/* .banner {
  position: relative;
} */

.banner {
  width: 360px;
}

.banner .banner-header {
  display: flex;
  width: 100%;
  padding: 12px 15px;
  justify-content: space-between;
  align-items: center;

  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

  position: fixed;
  z-index: 9999;
}

.hamburger {
  width: 30px;
  height: 30px;
  flex-shrink: 0; 
}







/* toggle 메뉴 버튼을 맨 꼭대기로 올리기 위해 position과 top사용 */
header ul.menu {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  
  
}
header ul.menu > li {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: .4s;
  
}
header ul.menu > li.menu-starter {
  display: none;
}
header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 11px;
  color: var(--color-font-lightgray);
  opacity: .8;
} 


html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}


header.searching ul.menu > li {
  transform: scale(.7);
  opacity: 0;
}
header.searching .search-wrap {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s;
  transform: translate(0, 0);
} 


header .clone-menu {
  display: none;
  
  
}


.clone-menu .clone-in-menu .Toggle_lang {
  display: flex;
  padding: 0px 10px; 
  align-items: flex-start;
  gap: 10px;

  color: #000;
  text-align: center;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  letter-spacing: -0.396px;

  opacity: 0.7;

  
}

.clone-ul li a {
  color: #000;
  text-align: center;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  letter-spacing: -0.396px;

  opacity: 0.7;

  color: black;
  text-decoration: none;
}






/* clone-menu에서 각 메뉴를 클릭할 때 */
.clone-ul li a {
  color: black;
  text-decoration: none;

}

.clone-ul li a:visited {
  color: black;
}

.clone-ul li a:active {
  color: black;
}

.Header-img {
  width: 100vw;
}




/* 여기서 부터 clone 메뉴에 관한 내용 (기억하기) */
header::before {
  content: "";
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-header);
  transition: .4s;

  
}



header ul.menu {
  position: absolute;
  top: 0px;
  
}


header ul.menu > li {
  display: none;
  
}

header ul.menu > li.menu-starter,
header ul.menu > li.apple-logo,
header ul.menu > li.basket-starter {
  display: flex;
}

header ul.menu > li.menu-starter div {
  margin-top: 50px;
}

header ul.menu > li.menu-starter span {
  display: block;
  width: 15px;
  height: 1px;
  background-color: var(--color-white);
  margin-bottom: 6px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  
  
  margin-left: 380px;
}


header ul.menu > li.menu-starter span:last-child {
  margin-bottom: 0;
}

header.menuing {
  background-color: var(--color-white);
  
  
}

header.menuing::before {
  /* height: 100vh; */
  top: 0px;
  background-color: var(--color-white);

  
  
}

header.menuing ul.menu > li.menu-starter span:first-child {
  transform: translate(0, 3.5px) rotate(45deg);
  background-color: var(--color-black);
}

header.menuing ul.menu > li.menu-starter span:nth-child(2) {
  transform: translate(0, -3.5px) rotate(-45deg);
  background-color: var(--color-black);
}

header.menuing ul.menu > li.menu-starter span:last-child {
  display: none;
}

header.menuing ul.menu > li.menu-starter span {
  
}


/* 수정 사항 - 720px 시, 
toggle 메뉴를 클릭한 clone 메뉴가 보일때의 코딩인데 
여기서 text를 왼쪽으로 200px, padding: 0 20px; 없앴음 */
header .clone-menu {
  margin: 0 auto;
  display: block;
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 0px;
  left: 0px;

  text-align: center;

  width: 100%;
  box-sizing: border-box;
  transition: .4s;
  transform: translate(0, -50px);

  
}

header .clone-in-menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 21.5px 25px;
  
  align-items: center;
  
}

header .clone-in-menu .Toggle_EN {
  
}

header .clone-in-menu .Toggle_Close {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  
}

header .clone-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  margin-top: 50px;

  
}



header.menuing .clone-menu {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    
    
}




/* Exhibitions 메인 배너 */
.Ex-img {
  display: flex;
  width: 100%;
  padding: 0px 45px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  margin-top: 40px;
}

.Header-img img {
  
}


/******* <!------- Exhibition_Banner (Mobile) -------> *******/
.introduction {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  text-align: right;

  margin: 0 15px 0;
  margin-left: 174px;
}

.title-exhibition-name {
  align-self: stretch;
  position: relative;
  font-size: 30px;
  letter-spacing: -0.02em;
  line-height: 90%;

  width: 100%;
}

.through-june-29 {
  width: 170px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  text-align: left;
  display: none;

  width: 100%;
}

.through-june-291 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;

  width: 100%;
}

.artist-name {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;

  width: 100%;
}

.wrap {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}


/* Upcoming */
.Upcoming-header-Mobile {
  width: 330px;
}

.Upcoming-header {
  color: #000;
  font-family: SUIT;
  font-size: 52px;
  font-style: normal;
  font-weight: 100;
  line-height: 150%; /* 78px */
  letter-spacing: -1.144px;

  margin-top: 90px;
  margin-left: 45px;
  
  display: flex;
  align-items: center;
  gap: 22px;
  align-self: stretch;

  width: 100%;
}

.Upcoming-header span {
  display: block;
  border-top: 1px solid lightgray;
  height: 1px;
  flex: 1 0 0;

  width: 82px;
}



/******* Upcoming-Swipe (Mobile) *******/
.Upcoming-sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  
  width: 330px;
  
  margin: 30px 45px 0;
}


/* .promotion {
    width: 330px;
  } */


.swiper-container {
  max-width: 330px;

}

.swiper-slide {
  max-width: 330px;
}



.Upcoming-sections .Upcoming-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  margin-top: 20px;
  margin-bottom: 16px;
}

.Upcoming-sections .Upcoming-title .Upcoming-main-title {
  width: 100%;
}

.Upcoming-sections .Upcoming-title .Upcoming-main-title h4 {
  color: #000;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.352px;

}


.Upcoming-sections .Upcoming-title .Upcoming-sub-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.Upcoming-sections .Upcoming-title .Upcoming-sub-title .first-title {
  color: #000;
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.264px;
}

.Upcoming-sections .Upcoming-title .Upcoming-sub-title .second-title {
  color: #000;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.308px;
}





/* Past */
.past-wrapper {
  display: flex;
  width: 91.7%;
  flex-direction: column;
  align-items: flex-start;
  
  padding-top: 90px;
  margin: 0 15px 0;
}

.past-wrapper .past-header {
  display: flex;
  align-items: center;
  gap: 22px;
  align-self: stretch;
  
  width: 100%;
}

.past-wrapper .past-header span {
  height: 1px;
  flex: 1 0 0;
  width: 100%;

  border-top: 1px solid lightgray;
}

.past-wrapper .past-header .header-title {
  color: #000;
  font-family: SUIT;
  font-size: 52px;
  font-style: normal;
  font-weight: 100;
  line-height: 150%; /* 78px */
  letter-spacing: -1.144px;
}

/******* Dropdown *******/
.View-All-Dropdown {
  position: relative;
  display: inline-block;

  width: 330px;
}

.dropdown-button {
  color: #000;
  background-color: #FFF;
  
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  display: flex;
  width: 100%;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  z-index: 99;
}

.View-All-Dropdown img {
  width: 24px;
  height: 24px;

  position: absolute;
  right: 10px;
  top: 3.5px;
}


.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;

  top: 33px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #000;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/*
.View-All-Dropdown {
  display: flex;
  width: 310px;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 12px 17px 0;
}

.View-All-Dropdown .View-All {
  color: #000;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  letter-spacing: -0.396px;

  margin-left: -10px;
  padding: 0 123px 0;
}
*/


/* past 섹션의 main */
/* past 섹션의 main 중, 위쪽 첫 번째 */
.Past-img-Mobile {
  width: 330px;
}

.past-img-section {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 50px 18px;
  align-self: stretch;
  flex-wrap: wrap;

  width: 100%;

  z-index: -9;
  margin: 38px 45px 0;

}

.past-img-section .past-up-img {
  
}

.past-img-section .past-up-img .past-up-first-img img {
  
}

.past-img-section .past-up-img .past-up-first-img .first-img-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  
  width: 47.3%;

  margin-top: 16px;
  padding: 0px 10px 0;
}

.past-img-section .past-up-img .past-up-first-img .first-img-text h4 {
  color: #000;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.352px;

  
}

.past-img-section .past-up-img .past-up-first-img .first-img-text .first-p {
  color: #000;
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.264px;

  margin-top: 10px;
}

.past-img-section .past-up-img .past-up-first-img .first-img-text .second-p {
  color: #000;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.308px;
}



/* past 섹션의 main 중, 위쪽 두 번째 */
.past-img-section .past-up-img .past-up-second-img {
  position: relative;

  margin-left: 171px;
  margin-top: -297px;
}


.past-img-section .past-up-img .past-up-first-img .first-img-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  width: 47.3%;

  padding: 0px 10px 0;
}

.past-img-section .past-up-img .past-up-second-img .first-img-text h4 {
  color: #000;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.352px;

  margin-top: 16px;
  margin-left: 10px;
}

.past-img-section .past-up-img .past-up-second-img .first-img-text .first-p {
  color: #000;
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.264px;

  margin-top: 10px;
  margin-left: 10px;
}

.past-img-section .past-up-img .past-up-second-img .first-img-text .second-p {
  color: #000;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.308px;
  
  margin-left: 10px;
}




/* past-down 시작 */
.past-down-img {
  display: flex;
  
}


/* past-down 아래쪽 첫 번째 */
.past-img-section .past-down-img .past-down-first-img .third-img-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  align-self: stretch;

  width: 100%;
  
  margin-top: 16px;
  padding: 0px 10px 0;
}


.past-img-section .past-down-img .past-down-first-img .third-img-text h4 {
  color: #000;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.352px;

  
}

.past-img-section .past-down-img .past-down-first-img .third-img-text .first-p {
  color: #000;
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.264px;

  margin-top: 10px;
}

.past-img-section .past-down-img .past-down-first-img .third-img-text .second-p {
  color: #000;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.308px;
}



/* past-down 아래쪽 두 번째 */
.past-img-section .past-down-img .past-down-second-img {
  margin-top: 80px;
  margin-left: 18px;
}

.past-img-section .past-down-img .past-down-second-img .four-img-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  align-self: stretch;

  width: 100%;
  
  margin-top: 16px;
  padding: 0px 10px 0;
}


.past-img-section .past-down-img .past-down-second-img .four-img-text h4 {
  color: #000;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.352px;

  
}

.past-img-section .past-down-img .past-down-second-img .four-img-text .first-p {
  color: #000;
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.264px;

  margin-top: 10px;
}

.past-img-section .past-down-img .past-down-second-img .four-img-text .second-p {
  color: #000;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.308px;
}





/* past 섹션의 view-more */
.view-more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;

  width: 100%;
  margin-top: 40px;
  padding: 10px 10px 10px 10px;
}



  /******* footer *******/
  .footer {
    display: flex;
    width: 100%;
    height: 453px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-shrink: 0;

    border-top: 1px solid #C1C1C1;
    background: #FFF;

    margin-top: 90px;
  }

  .footer .footer-icon .icon-menu {
    display: flex;
    padding: 0px 70px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    gap: 30px;
  }

  .footer .footer-text {
    display: flex;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }

  .footer p {
    color: #000;
    text-align: center;
    font-family: SUIT;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.264px;
  }



  /***** 스크롤 내릴 시, 꼭대기로 올라가는 top 버튼 *****/
  #to-top {
    width: 28px;
    height: 28px;
    background-color: #FFF;

    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: 6px;

    position: fixed;
    bottom: 15px;
    right: 15px;

    z-index: 9;

    background-image: url('../img/To-top-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 99px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  }

  .material-icons {
    font-size: 30px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 4px;
    margin: auto;
    /* opacity: 1; -> 화살표가 잘 보임 */
    opacity: 1;
    transition: 0.4s; 
  }









/******* (모바일 -> 웹)반응형 *******/
@media (max-width: 440px) {
  .banner {
  
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    /* 여기 height값으로 clone-menu가 보여주는중 */
    /* height: 504px; */
    flex-shrink: 0;
    height: 30px;
  }

  .Upcoming-header-Mobile {
    max-width: 100%;
  }

  .Upcoming-section-Mobile,
  .Upcoming-section,
  .Past-Wrapper-Mobile,
  .Past-img-Mobile {
    max-width: 100%;
  }
  

  .header-style {
    visibility: hidden;
    
  }


  .banner-text {
    visibility: hidden;
    display: none;
  }

  .Exhibition-wrapper {
    display: none;
    
    
  }

  .Ex-head {
    padding-top: 84px;
  }

  .Arrow-Back-Mobile {
    position: absolute;
    top: 74px;
    left: 15px;
  }
  
  .Upcoming-section {
    visibility: hidden;
    display: none;
  }



  
}



@media (min-width: 441px) and (max-width: 1001px) {
  .Exhibition-wrapper {
    display: none;

  }

  .banner {
  
    width: 100%;
    overflow: hidden;
    /* height: 704px; */
    flex: 1 0 0;
    align-self: stretch;
    
  }
  
  .banner-header {
    width: 100%;
  }

  .header-style {
    visibility: hidden;
  }

  .banner-text {
    visibility: hidden;
    display: none;
  }

  .header-style {
    display: flex;
    width: 100%;
    padding: 17px 87px 22px 87px;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 9999;
  }
  

  
  .logo-wrapper {
    width: 4%;
    height: 27px;
    flex-shrink: 0;
  }
  
  .header-style .header-menu .header-ul {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    
  }
  
  .header-style .header-menu .header-ul .EN {
    margin-left: 40px;
    
  }
  
  .header-style .header-menu .header-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    color: #000;
    text-align: center;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
  }
  
  .Upcoming-section {
    visibility: hidden;
    display: none;
  }

}

@media (min-width: 1002px) and (max-width: 1919px) {
  .banner {
    width: 100%;
    overflow: hidden;
  
    flex: 1 0 0;
    align-self: stretch;
  }

  .banner-header {
    visibility: hidden;
    display: none;
  }

  .banner-text {
    visibility: hidden;
    display: none;
  }

  .Arrow-Back-Mobile {
    display: none;
  }  
  
  .header-style {
    display: flex;
    width: 100%;
    padding: 20px 90px 25px 90px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    position: fixed;
    z-index: 9999;
    
  }

  .Ex-img {
    margin-top: 100px;
  }




  .logo-wrapper {
    width: 4%;
    height: 27px;
    flex-shrink: 0;
  }
  
  .header-style .header-menu .header-ul {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    
  }
  
  .header-style .header-menu .header-ul .EN {
    margin-left: 40px;
    
  }
  
  .header-style .header-menu .header-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    color: #000;
    text-align: center;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
  }

  .Upcoming-section {
    visibility: hidden;
    display: none;
  }

}


/************* 웹 (1920px) ***************/
@media (min-width: 1920px) {
  .Exhibition-wrapper {
    max-width: 1920px;
  }

  .banner {
  
    width: 100%;
    overflow: hidden;
    /* height: 955px; */
    flex: 1 0 0;
    align-self: stretch;
  }
  
  
  .banner-header {
    visibility: hidden;
    display: none;
  }
  
  .header-style {
    display: flex;
    width: 100%;
    padding: 20px 90px 25px 90px;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    z-index: 9999;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  }

 
  
  .logo-wrapper {
    width: 4%;
    
    flex-shrink: 0;
  }
  
  .header-style .header-menu .header-ul {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    
  }
  
  .header-style .header-menu .header-ul .EN {
    margin-left: 40px;
    
  }
  
  .header-style .header-menu .header-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    color: #000;
    text-align: center;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
  }
  
  


  .Arrow-Back-Mobile,
  .Exhibition-Banner-Mobile,
  .Upcoming-header-Mobile,
  .Upcoming-section-Mobile,
  .Past-Wrapper-Mobile,
  .clone-in-menu
   {
    visibility: hidden;
    display: none;
    overflow: hidden;
  }
  

  .Exhibition-Banner-Web {
    visibility: visible;
  }

  
  /*** Web ***/
  /******* Web에서 Wrapper때문에 넘쳐나는 부분을 없애기 위해
  높이값을 0을 준다. *******/
  /* .wrapper {
    height: 0;
  } */

  
  /* .Exhibition-wrapper {
    width: 1920px;
    margin: 0 auto;
  } */


  /******* Arrow-Back *******/
  .Arrow-Back-Web {
    position: absolute;
    top: 116px;
    left: 260px;

  }


  /******* Exhibition-container *******/
  .Exhibition-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 130px;

    width: 71.9%;
    
    margin: 0 260px 0;
  }

  .Exhibition-Banner-Web {
    display: flex;
    width: 100%;
    padding: 30px 0px;
    align-items: flex-end;
    gap: 28px;

    margin-top: 176px;
  }

  .img-section {
    flex-shrink: 0;

    width: 100%;
  }

  .img-section .banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex: 1 0 0;

    width: 23.5%;

    margin-left: 1055px;
    margin-top: -310px;
  }

  .banner-text .banner-title {
    color: #000;
    text-align: right;
    font-family: "Pretendard Variable";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 66px */
    letter-spacing: -1.32px;
  }
  
  .banner-text .banner-date {
    color: #000;
    text-align: right;
    font-family: SUIT;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    letter-spacing: -0.704px;

    margin-left: 34px;
  }

  .banner-text .banner-artist {
    color: #000;
    text-align: right;
    font-family: SUIT;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    letter-spacing: -0.704px;

    margin-left: 164px;
  }




  /* 동그란 버튼 구현중에 막힘 */
  /******* Upcoming-Swipe (Web) *******/
  .Upcoming-section {
    display: flex;
    width: 1400px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: flex-end;
    
  }

  /* .promotion {
    width: 1400px;
  } */

  .swiper-container {
    width: 1400px;

  }

  .swiper-slide {
    width: 1400px;

  }

  .swiper-slide .swiper-img {
    margin-left: 595px;
    margin-top: -120px;

    
  }

  .swiper-slide .Upcoming-title {
    
  }

  .swiper-slide .Upcoming-title .Upcoming-main-title h4 {
    color: #000;
    font-family: SUIT;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 54px */

    position: relative;
    top: 202px;
  }

  .swiper-slide .Upcoming-title .Upcoming-sub-title .first-title {
    color: #000;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;

    position: relative;
    top: 214px;
  }

  .swiper-slide .Upcoming-title .Upcoming-sub-title .second-title {
    color: #000;
    font-family: SUIT;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
    letter-spacing: -0.616px;

    position: relative;
    top: 217px;
  }


  .swiper-pagination {
    margin-top: 120px;
    margin-left: 660px;
  }

  .promotion .swiper-container .swiper-wrapper .swiper-slide {
    
    
  }


  .swiper-pagination .swiper-pagination-bullet {
    background-image: url('../img/Swiper-Nonactive-bullet.svg');
    width: 22px;
    height: 22px;
    margin-right: 16px;
    outline: none;
  }

  .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../img/swiper-activebullet.svg");
  }


  .swiper-prev, .swiper-next {
    width: 42px;
    height: 42px;
    
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    
    margin-top: 1085px;
  }

  .swiper-prev {
    left: 33%;
    margin-left: -480px;
  }

  .swiper-next {
    right: 33%;
    margin-right: -480px;
  }

  .promotion .swiper-prev:hover,
  .promotion .swiper-next:hover {
    
  }









}








