/* Reset */
html {
  --color-white: #FFF;
  --color-black: #000000;
  --color-font: #1D1D1D;
  --color-font-darkgray: #6E6E6E;
  --color-font-middlegray: #b7b7b7;
  --color-font-lightgray: #F5F5F5;
  --color-link: #0071E3;
  --color-link-focus: #81B9F1;
  --color-border: #D2D2D2;
  --color-header: #3A3A3A;
  --color-section: #F5F5F5;
  --color-shadow: rgba(0, 0, 0, .4);
}

h1,
h2,
p,
strong,
body,
ul,
li,
div {
padding: 0;
margin: 0;
}

h1,
h2,
p,
strong {
font-size: inherit;
font-weight: inherit;
}

li {
list-style: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

header ul.menu > li.menu-starter {
  display: none;
}


/*** 하이퍼 링크 속성 제거 ***/
a {
text-decoration: none;
color: inherit;
}



/* Typography */
body {
  font-family: 'SUIT';
}

/* 이 부분을 지워서 위의 코드 내용
@font-face {
  font-family: 'SUIT';

  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.woff2') format('woff2');
}
*/ 

/***************** Layout *****************/

/* 이 부분의 때문에 Arrow-back이 안보이고 있었음 */
.header-section .main-header {
  position: fixed;

  /* 모든 컨텐츠가 헤더위로 올라가지 않도록 최상위로 줌 */
  z-index: 9999;
}






/***************** Web Layout *****************/
  @media (max-width: 1920px) {
  /* 모바일 720까지의레이아웃 */ 
  .wrapper {
    width: 1920px;
    

    /* 하단의 top으로 올라오는 to-top버튼을
    보여드리기 위해서 임의로 height: 500vh 정도로
    지정함 - 원래는 height: 1047px */
    
    
  }

  .wrapper .head-wrapper {
    /* Figma에는 width의 값이 
    모바일 기준 360px으로 잡고 가는건데,
    브라우저에서는 최대로 줄일 때,
    433px이 되서
    이미지 가로를 최대로 채우기 위해
    width값을 임의의 값인 96.2vw로 줬다.*/
    width: 1920px;

    border-radius: 0px 0px 100px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
    background-size: cover;
  }

  .header-section {
    width: 100%;
    
    top: 0;
    position: relative;
  } 

  .Header-img {
    box-sizing: border-box;
    width: 100%;
    
    
    z-index: -9;
  }

  .Header-img img {
    
    
  }

  .main-header {
    top: 0;
  }

  .header-style {
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    width: 1920px;
    padding: 25px 90px 30px 90px;
    justify-content: space-between;
    align-items: center; 
  }



  header .white-logo {
    width: 87.429px;
    height: 27px;
    flex-shrink: 0;
    /* Figma 개발자 모드 사용하기 전
    width: 20vw;
    margin: 30px 0 0 30px;
    */
  }


  .header-menu .header-ul {
    display: flex;
    align-items: flex-start;
    gap: 70px;

    color: #000000;
    text-align: center;
    font-family: SUIT;
    font-size: 18px; 
    font-style: normal;
    font-weight: 500;
    line-height: 150%;   /* 27px */
    letter-spacing: -0.396px;
  }
 

  .header-menu .header-ul a .EN {
      margin-left: 40px;
  }
  

  /******* Artist002 main-section *******/
  .main-section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;

    width: 1162px;

    margin: 179px 379px 0;
  }

  .main-section .main-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    width: 1162px;
  }

  .main-section .main-title-section
  .main-title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 93px */
    letter-spacing: -1.364px;
  }

  .main-section .main-title-section
  .sub-title {
    display: flex;
    padding-top: 30px;
    align-items: center;
    gap: 28px;
  }

  .main-section .main-title-section
  .sub-title span {
    color: rgba(0, 0, 0, 0.40);
    font-family: SUIT;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.528px;
  }

  .main-section .main-img-section {
    display: flex;
    width: 1160px;
    padding: 50px 0px;
    align-items: flex-end;
    gap: 182px;
  }

  .main-section .main-img-section
  .main-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
    flex: 1 0 0;

    width: 468px;
  }

  .main-info .info-title {
    color: #000;
    font-family: SUIT;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%; /* 54px */
    letter-spacing: -0.792px;

    width: 468px;
  }

  .main-info .info-text {
    color: #000;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    letter-spacing: -0.396px;

    width: 468px;
  }

  .main-info .info-download {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

  }

  .main-info .info-download span {
    color: #000;
    text-align: center;
    font-family: SUIT;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 22px */
    letter-spacing: -0.484px;
    text-transform: uppercase;
  }
  
  
  /******* Artist002 Exhibition-section *******/
  .Exhibitions-section {
    display: flex;
    width: 1162px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .Exhibitions-section .Exhibitions-title {
    display: flex;
    align-items: center;
    gap: 22px;
    align-self: stretch;
  }

  .Exhibitions-section .Exhibitions-title
  h2 {
    color: #000;
    font-family: SUIT;
    font-size: 90px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%; /* 135px */
    letter-spacing: -1.98px;
  }

  
  .Exhibitions-section .img-section {
    display: flex;
    height: 430px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;

    
  }

  .Exhibitions-section 
  .img-section
  .img-over-info {
    display: flex;
    width: 1162px;
    padding: 26px 32px 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .Exhibitions-section 
  .img-section
  .img-over-info
  .over-info-title {
    color: #FFF;
    font-family: SUIT;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 54px */
    letter-spacing: -0.792px;
  }

  .Exhibitions-section 
  .img-section
  .img-over-info
  .over-info-text {
    color: #FFF;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
  }

  .Exhibitions-section 
  .img-section
  .img-over-info
  .over-info-date {
    color: #FFF;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.44px;
  }

  .img-section img {
    margin-top: -180px;
    z-index: -9999;
  }










  

}






/* Home화면의 footer */
.footer {
margin-top: 300px;


display: flex;
width: 1920px;
height: 453px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 70px;
flex-shrink: 0;

border-top: 1px solid lightgray; 
}


.footer-icons {

}

.footer-icons ul {
display: flex;
align-items: flex-start;
gap: 150px;

}

.footer .footer-text  {
width: 563px;
height: 27px;

margin-left: 20px;
}

.footer .footer-text p {
color: #000;
font-family: SUIT;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.396px;


}

.footer-icons .footer-text p {

}



/***** 스크롤 내릴 시, 꼭대기로 올라가는 top 버튼 *****/
#to-top {
width: 28px;
height: 28px;
background-color: #fff;


cursor: pointer;
display: inline-flex;
justify-content: center;
align-items: center;


gap: 6px;


position: fixed;
bottom: 40px;
right: 80px;



background-image: url('../img/Arrowup_btn.png');
background-repeat: no-repeat;
background-position: center;
border-radius: 99px;
box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}

.material-icons {

font-size: 30px;
height: 24px;
position: absolute;
top: 0;
bottom: 3px;
right: 4px;
margin: auto;
/* opacity: 1; -> 화살표가 잘 보임 */
opacity: 1;
transition: 0.4s; 
}


/* 동그란 버튼 구현중에 막힘 */
/*
.promotion {
  width: 330px;
  
  
}








.promotion .swiper-pagination {
  margin-top: 20px;
  margin-left: 138px;
}

.promotion .swiper-container .swiper-wrapper .swiper-slide {
  
  
}


.promotion .swiper-pagination .swiper-pagination-bullet {
  background-image: url('./img/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right: 16px;
  outline: none;
}

.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("./img/swiper_activebullet.png");
}
*/



