/* Reset */
html {
    --color-white: #FFF;
    --color-black: #000000;
    --color-font: #1D1D1D;
    --color-font-darkgray: #6E6E6E;
    --color-font-middlegray: #b7b7b7;
    --color-font-lightgray: #F5F5F5;
    --color-link: #0071E3;
    --color-link-focus: #81B9F1;
    --color-border: #D2D2D2;
    --color-header: #3A3A3A;
    --color-section: #F5F5F5;
    --color-shadow: rgba(0, 0, 0, .4);
}

h1,
h2,
p,
strong,
body,
ul,
li,
div {
	padding: 0;
	margin: 0;
}

h1,
h2,
p,
strong {
	font-size: inherit;
	font-weight: inherit;
}

li {
	list-style: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

header ul.menu > li.menu-starter {
    display: none;
}


/*** 하이퍼 링크 속성 제거 ***/
a {
  text-decoration: none;
  color: inherit;
}


/******* Typography *******/
@font-face {
    font-family: 'SUIT';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff2') format('woff2');
}


/***************** Layout *****************/

/* 이 부분의 때문에 Arrow-back이 안보이고 있었음 */
.header-section .main-header {
    position: fixed;

    /* 모든 컨텐츠가 헤더위로 올라가지 않도록 최상위로 줌 */
    z-index: 9999;
}



header .inner {
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1020px;
  }

  header .mobile-layout {
    display: none;
  }

/* toggle 메뉴 버튼을 맨 꼭대기로 올리기 위해 position과 top사용 */
  header ul.menu {  
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    
  }

  header ul.menu > li {
    display: flex;
    position: relative;
    cursor: pointer;
    transition: .4s;
    
  }

  header ul.menu > li.menu-starter {
    display: none;
  }
  
  header ul.menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 11px;
    color: var(--color-font-lightgray);
    opacity: .8;
  }
 
  html.fixed {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }
  
  
  header.searching ul.menu > li {
    transform: scale(.7);
    opacity: 0;
  }
  header.searching .search-wrap {
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
  }
  header.searching .search input,
  header.searching .search .search-icon,
  header.searching .search .autocompletes h3,
  header.searching .search .autocompletes li {
    transition-delay: .2s;
    transform: translate(0, 0);
  }
  
  
  header .clone-menu {
    display: none;
  }


  .main-header {
    

    
  } 
  
  
  
  /* clone-menu에서 각 메뉴를 클릭할 때 */
  .clone-ul li a {
    color: black;
    text-decoration: none;
  }

  .clone-ul li a:visited {
    color: black;
  }

  .clone-ul li a:active {
    color: black;
  }

  .Header-img {
    width: 100vw;
    
  }


  /***************** Mobile Layout *****************/
    @media (max-width: 720px) {
    /* 모바일 720까지의 레이아웃 */ 
    .wrapper {
      width: 360px;
      
  
      /* 하단의 top으로 올라오는 to-top버튼을
      보여드리기 위해서 임의로 height: 500vh 정도로
      지정함 - 원래는 height: 1047px */
      
      
    }
  
    .wrapper .head-wrapper {
      /* Figma에는 width의 값이 
      모바일 기준 360px으로 잡고 가는건데,
      브라우저에서는 최대로 줄일 때,
      433px이 되서
      이미지 가로를 최대로 채우기 위해
      width값을 임의의 값인 96.2vw로 줬다.*/
      width: 360px;
      
      border-radius: 0px 0px 100px 0px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
      background-size: cover;
    }
  
    .header-section {
      width: 100%;
      
      position: relative;
    }
  
    .Header-img {
      box-sizing: border-box;    
      
     
    }
    
    
  
  
    /* Header 전체 배경 */
  
    .header-style {
      width: 360px;
      
      display: flex;
      justify-content: space-between;
  
      align-items: center;
  
      padding: 12px 15px;
  
      background: #FFF;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    }
  
    .logo-wrapper {
      
    }
    
    .header-style .hamburger-img {
      
      flex-shrink: 0;
      
    }
  
  
    
    
  
      
      /* 스크롤을 내릴 때, 
      헤더가 바뀌는 부분을 구현
      .sub-header {
        
        width: 20vw;
        margin: 30px 0 0 30px;
      }
      */
  
      header::before {
        content: "";
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--color-header);
        transition: .4s;
    }
    
    
    /*
    header ul.menu {
      position: absolute;
      top: 0px;
    }
    */
  
    header ul.menu > li {
      display: none;
    }
    
    header ul.menu > li.menu-starter,
    header ul.menu > li.apple-logo,
    header ul.menu > li.basket-starter {
      display: flex;
    }
  
    header ul.menu > li.menu-starter div {
      margin-top: 50px;
    }
  
    header ul.menu > li.menu-starter span {
      display: block;
      width: 15px;
      height: 1px;
      background-color: var(--color-white);
      margin-bottom: 6px;
      transition: .4s;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
    
      /* margin-left
      모바일 화면에서 햄버거 메뉴를 나타내는
      부분인데 화면에 보이는 것은
      집에서는 450px, 
      회사에서는 400px로 다름 */
      
      margin-left: 380px;
    }
  
    
    header ul.menu > li.menu-starter span:last-child {
      margin-bottom: 0;
    }
    
    header.menuing {
      background-color: var(--color-white);
    }
  
    header.menuing::before {
      height: 100vh;
      top: 0px;
      background-color: var(--color-white);
    }
  

    /******* clone-menu의 내용을 나타냄 *******/
    header.menuing .clone-menu {
        transform: translate(0, 0);
        visibility: visible;
        opacity: 1;
        background-color: var(--color-white);
        height: 100vh;
    }




    header.menuing ul.menu > li.menu-starter span:first-child {
      transform: translate(0, 3.5px) rotate(45deg);
      background-color: var(--color-black);
    }
  
    header.menuing ul.menu > li.menu-starter span:nth-child(2) {
      transform: translate(0, -3.5px) rotate(-45deg);
      background-color: var(--color-black);
    }
  
    header.menuing ul.menu > li.menu-starter span:last-child {
      display: none;
    }
  
    header.menuing ul.menu > li.menu-starter span {
      
    }
    
  
    /* 수정 사항 - 720px 시, 
    toggle 메뉴를 클릭한 clone 메뉴가 보일때의 코딩인데 
    여기서 text를 왼쪽으로 200px, padding: 0 20px; 없앴음 */
    header .clone-menu {
      margin: 0 auto;
      display: block;
      visibility: hidden;
      opacity: 0;
  
      position: absolute;
      top: 0px;
      left: 0px;
  
      text-align: center;
  
      width: 100%;
      box-sizing: border-box;
      transition: .4s;
      transform: translate(0, -50px);
  
      z-index: 9999;
    }
  
    header .clone-in-menu {
      width: 100%;
  
      display: flex;
      justify-content: space-between;
      padding: 21.5px 25px;
      
      align-items: center;
    }
  
    header .clone-in-menu .Toggle_EN {
      
    }
  
    header .clone-in-menu .Toggle_Close {
      margin-left: 264px;
    }
    
  
    header .clone-ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
  
      margin-top: 50px;
    }
    
    



    /************** Exhibition002 - Artist's Poster MainTitle **************/
    .poster-title {
        width: 330px;
        
        margin: 40px 15px 0;
    }


    /************** Exhibition002 - Artist's info **************/
    .poster-title img {
        position: relative;
        z-index: 9;
    }
    
    .poster-section {
        width: 243px;

        margin: -78px 58.5px 0;
        position: absolute;
    } 


    .poster-section .poster-text {
        color: #000;
        font-family: SUIT;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%; /* 27px */
        letter-spacing: -0.396px;

        width: 170px;
        
        margin-left: 116.5px;
    }

    .poster-section .poster-text p {
        
    }



    /************** Exhibition002 - Artist's info **************/
    .poster-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        width: 243px;
        margin-top: 53px;
    }

    .poster-info .artist-name h3 {
        color: #000;
        font-family: SUIT;
        font-size: 28px;
        font-style: normal;
        font-weight: bold;
        line-height: 100%; /* 28px */
        letter-spacing: -0.616px;

        
    }

    .poster-info .artist-name span {
        display: block;
        align-self: stretch;
        margin-top: 6px;
        border: 1px solid #000;
        border-style: 1px;

        margin-bottom: 10px;
    }

    /* font-weight: 400이었는데 900으로 바꿔놓음
    디자인이랑 너무 다른 느낌이 들어서 임의로 바꿈
    400은 너무 얇고, 900으로 해야 비슷하게 보임 */
    .poster-info .artist-text {
        align-self: stretch;

        color: #000;
        font-family: SUIT;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 160%; /* 28.8px */
        letter-spacing: -0.396px;

        
        width: 243px;
        
    }
    
    
    .poster-info .poster-into {
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }

    .poster-info .poster-into .first-into {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;

        color: #000;
        text-align: center;
        font-family: SUIT;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 13px */
        letter-spacing: -0.286px;
        text-transform: uppercase;
    }

    .poster-info .poster-into .first-into a {
      z-index: 999;
    }


    .poster-info .poster-into .second-into {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        color: #000;
        text-align: center;
        font-family: SUIT;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 13px */
        letter-spacing: -0.286px;
        text-transform: uppercase;
    }


    /************** Installation View **************/
    .Installation-view {
        display: flex;
        padding: 0px 15px;
        align-items: center;
        gap: 22px;
        align-self: stretch;

        width: 360px;
        margin-top: 842px;
    }


    .Installation-view .view-wrapper {
        width: 330px;
    }


    .Installation-view .view-wrapper .view-title {
        color: #000;
        font-family: SUIT;
        font-size: 52px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 52px */
        letter-spacing: -1.144px;

        width: 223px;
    }


    .Installation-view .view-wrapper .view-title span {
        display: block;

        height: 1px;
        flex: 1 0 0;

        border: 1px solid #D9D9D9;
        
        width: 85px;
        margin-left: calc(260px - 15px);
        margin-top: -51.5px;
    }



    /************** Works **************/
    .works-section {
      display: flex;
      width: 330px;
      padding-bottom: 30px;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      margin: 0 15px 0;
    }

    .works-section .works-wrapper {
      width: 330px;
      height: 78px;

      display: flex;
      align-items: center;
      gap: 22px;
      align-self: stretch;
    }

    .works-section .works-wrapper .works-title {
      display: flex;
    }

    .works-section .works-wrapper .works-title span {
      display: block;

      height: 1px;
      flex: 1 0 0;

      border: 1px solid #D9D9D9;
      
      width: 169px;
      margin-top: 38.5px;
    }

    .works-section .works-wrapper .works-title h2 {
      margin-left: 22px;

      color: #000;
      font-family: SUIT;
      font-size: 52px;
      font-style: normal;
      font-weight: 100;
      line-height: 150%; /* 78px */
      letter-spacing: -1.144px;
    }


    /************** Works-first-section **************/
    .works-section .first-works {
      width: 329px;

      display: flex;
      
      flex-direction: column;
      align-items: flex-start;
      gap: 26px;
    }


    /***** 이미지 hover시 변화 - ZOOM *****/
    .works-section .first-works .first-img,
    .works-section .second-works .second-img,
    .works-section .third-works .third-img {
      overflow: hidden; /* 이미지가 확대될 때, 이미지 바 */
    }

    .works-section .first-works .img-hover,
    .works-section .second-works .img-hover,
    .works-section .third-works .img-hover {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
      -o-transform: scale(1.0);

      transition: transform 0.7s;
    }

    .works-section .first-works .img-hover:hover,
    .works-section .second-works .img-hover:hover,
    .works-section .third-works .img-hover:hover {
      transform: scale(1.06);
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -ms-transform: scale(1.06);
      -o-transform: scale(1.06);

      transition: transform 0.7s;
    }


    .works-section .first-works .first-text {
      display: flex;
      padding: 0px 10px;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      align-self: stretch;
    }

    .works-section .first-works .first-text .text-one {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 27px */
      letter-spacing: -0.396px;
    }

    .works-section .first-works .first-text .text-two {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.396px;
    }
    
    .works-section .first-works .first-text .text-three {
      overflow: hidden;
      color: #000;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 14px */
      letter-spacing: -0.308px;

      height: 28px;
      align-self: stretch;
    }

    .works-section .first-works .first-text .text-four {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 21px */
      letter-spacing: -0.308px;
    }
    

    /************** middle-border **************/
    .middle-first-border {
      width: 100px;
      height: 1px;
      border: 1px solid lightgray;

      margin-top: 30px;
    }
    

    /************** Works-second-section **************/
    .works-section .second-works {
      width: 329px;

      display: flex;
      
      flex-direction: column;
      align-items: flex-start;
      gap: 26px;
    }


    .works-section .second-works .second-text {
      display: flex;
      padding: 0px 10px;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      align-self: stretch;
    }

    .works-section .second-works .second-text .text-one {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 27px */
      letter-spacing: -0.396px;
    }

    .works-section .second-works .second-text .text-two {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.396px;
    }
    
    .works-section .second-works .second-text .text-three {
      overflow: hidden;
      color: #000;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 14px */
      letter-spacing: -0.308px;

      height: 28px;
      align-self: stretch;
    }

    .works-section .second-works .second-text .text-four {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 21px */
      letter-spacing: -0.308px;
    }


    /************** middle-border **************/
    .middle-second-border {
      width: 100px;
      height: 1px;
      border: 1px solid lightgray;
    }


    /************** Works-third-section **************/
    .works-section .third-works {
      width: 329px;

      display: flex;
      
      flex-direction: column;
      align-items: flex-start;
      gap: 26px;
    }


    .works-section .third-works .third-text {
      display: flex;
      padding: 0px 10px;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      align-self: stretch;
    }

    .works-section .third-works .third-text .text-one {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 27px */
      letter-spacing: -0.396px;
    }

    .works-section .third-works .third-text .text-two {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.396px;
    }
    
    .works-section .third-works .third-text .text-three {
      overflow: hidden;
      color: #000;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 14px */
      letter-spacing: -0.308px;

      width: 309px;
      align-self: stretch;
    }
    
    .works-section .third-works .third-text .text-four {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 21px */
      letter-spacing: -0.308px;
    }


    .view-more {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
      align-self: stretch;

      width: 330px;
      
      padding: 30px 10px 10px 10px;
      
    }


    /************** footer **************/
    .footer {
      margin: 96px 15px 0 15px;

      display: flex;
      width: 360px;
      height: 453px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 70px;
      flex-shrink: 0;
      
      border-top: 1px solid lightgray; 
    }


    .footer-icons {
      
    }

    .footer-icons ul {
      display: flex;
      
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;

      gap: 46.67px;
    }

    .footer .footer-text {
      color: #000;
      text-align: center;
      font-family: SUIT;
      font-size: 12px;
      font-style: normal;
      font-weight: 900;
      line-height: 150%; /* 18px */
      letter-spacing: -0.264px;
    }



    /***** 반응형 720px까지 적용 중, 추가할 부분 여기부터 *****/
    .poster-info .aa {
      
      
      z-index: 999;
    }


    /* 화살표 뒤로가는 부분 
    (Home으로 되돌아가는 부분) */
    .Arrow-Back img {
      margin-top: 74px;
      margin-left: 15px;
    }
    
}


/***** Swiper - margin이든 padding이든 임의로 정한 값 *****/
.promotion {
    display: flex;
    padding-left: 15px;
    align-items: flex-end;
    gap: 6px;
    align-self: stretch;

    padding: 82px;
    margin-left: -65px;

    
}

.promotion .swiper-container {
  margin-bottom: 30px;

  
}


/***** Click 시, Modal창 구현 *****/







/***** 스크롤 내릴 시, 꼭대기로 올라가는 top 버튼 *****/
#to-top {
  width: 28px;
  height: 28px;
  background-color: #fff;
  

  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  

  gap: 6px;

  
  position: fixed;
  bottom: 15px;
  right: 15px;


  
  background-image: url('../img/Arrowup_btn.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 99px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}

.material-icons {
  
  font-size: 30px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 3px;
  right: 4px;
  margin: auto;
  /* opacity: 1; -> 화살표가 잘 보임 */
  opacity: 1;
  transition: 0.4s; 
}


/* 동그란 버튼 구현중에 막힘 */
/*
.promotion {
    width: 330px;
    
    
  }

  
  
  




  .promotion .swiper-pagination {
    margin-top: 20px;
    margin-left: 138px;
  }

  .promotion .swiper-container .swiper-wrapper .swiper-slide {
    
    
  }
  

  .promotion .swiper-pagination .swiper-pagination-bullet {
    background-image: url('./img/promotion_slide_pager.png');
    width: 12px;
    height: 12px;
    margin-right: 16px;
    outline: none;
  }

  .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
  }

  .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("./img/swiper_activebullet.png");
  }
*/



